@font-face {
  font-family: 'IranSans';
  src: url("../font/IranSans/IRANSansWeb.eot") format('eot'),
  url('../font/IranSans/IRANSansWeb.woff') format('woff'),
  url('../font/IranSans/IRANSansWeb.ttf') format('truetype');
}

.height-25 {
  height: 25px;
}

.height-10 {
  height: 10px;
}
